.home {
  height: 100%;
  width: 100vw;
}

/** Hero section của home **/
.home .hero {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 12.8rem 9.6rem;
}

.home .hero .hero--left {
  width: 40%;
  margin-top: 14.8rem;
}

.home .hero .hero--right {
  width: 60%;
  margin-right: -9.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home .hero .hero--right img {
  width: 100%;
}

.home .hero .hero--right .hero__image-title {
  width: 100%;
  font-style: italic;
  text-align: left;
}

/** Danh sách dòng tranh **/
.home .category {
  width: auto;
  height: auto;
  color: var(--color-white);
  background-color: var(--color-primary);
  transform: skewY(5deg);
}

.home .category .category__container {
  height: 100%;
  padding: 12.8rem 0;
  transform: skewY(-5deg);
}

.home .category .category__container .category__title {
  font-weight: normal;
  margin-bottom: 4.8rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home .category .category__container .category__carousel {
  display: inline-flex;
  gap: 12.8rem;
  align-items: center;
  justify-content: flex-start;
}

.home .category .category__container .category__carousel .category__item {
  width: 66vw;
  display: flex;
  gap: 6.4rem;
  align-items: center;
}

.category__item-thumbnail-name {
  font-size: 1.6rem;
  font-style: italic;
  margin-top: 1.6rem;
}

.home .category .category__container .category__carousel-button {
  display: flex;
  justify-content: flex-end;
  gap: 6.4rem;
}

.home .category .category__container .category__carousel-button .previous {
  transform: rotate(180deg);
}

/** Danh sách tranh dạng lưới **/
.home .collection h1 {
  margin-bottom: 6.4rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home .collection .collection__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;
}

.home .collection .collection__item .collection__item-title {
  margin: 1.6rem 0 8px;
  font-weight: 600;
}

.home .collection .collection__item .collection__item-category {
  font-style: italic;
  font-size: 1.6rem;
}
