@import "colors.css";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: var(--color-primary);
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 5.6rem;
  font-family: 'Philosopher', sans-serif;
  font-weight: normal;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-weight: normal;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-white-blur);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #2222228f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


button {
  border: none;
  position: relative;
  left: 8px;
  top: 8px;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.6rem 3.2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: -8px;
  border: 1px solid var(--color-primary);
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.button--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.button--secondary::after {
  border: 1px solid var(--color-white);
}

button:hover {
  left: 4px;
  top: 12px;
}

button:hover::after {
  top: 6px;
  left: -6px;
}

.size--default {
  width: 1.6rem;
  height: 1.6rem;
}

.size--medium {
  width: 2.4rem;
  height: 2.4rem;
}

.background--center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-center--stretch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding--default {
  padding-left: 9.6rem;
  padding-right: 9.6rem;
}

.background-outline {
  position: relative;
}

.background-outline::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 8px;
  left: -8px;
  border: 1px solid var(--color-primary);
  z-index: -1;
}

/** Thanh navbar **/
.navbar {
  height: 4.8rem;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.navbar .navbar__logo {
  font-family: "Philosopher", sans-serif;
  font-size: 3rem;
}

.navbar .navbar__cta {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.navbar .navbar__cta .navbar__link {
  cursor: pointer;
}

.navbar .navbar__cta .navbar__search-box {
  width: 37.7rem;
  height: 2.5rem;
  border-bottom: 1px solid var(--color-white-blur);
  padding-bottom: 7px;
  display: flex;
  gap: 8px;
}

.navbar .navbar__cta .navbar__search-box input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  color: var(--color-white);
}

.navbar .navbar__cta .navbar__search-box input::placeholder {
  font-size: 1.4rem;
  font-style: italic;
  text-align: right;
  color: var(--color-white-blur);
}

.navbar .navbar__cta .navbar__search-box .navbar__search-icon {
  background-image: url("../assets/icons/icon-search-grey.svg");
}